@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    /*width: ;*/
}

.box-border-h {
    /*width: calc(100% + 40px);*/
    height: 1px;
    background-color: red;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.box-border-v {
    width: 1px;
    height: calc(100% + 40px);
    background-color: red;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}